.wrapper
  .chat-side
    =render 'shared/side-bar'
  .chat-main
    .main-header
      .main-header__title
        .main-header__title__name
          sample
        .main-header__title__info
          Member : sample
      =link_to edit_user_path(current_user) do
        .main-header__edit-button
          Edit
    .messages
      = render @messages
    .form
      =form_for [@group, @message], html: {class: 'form__box'} do |f|
        .form__box__inputs
          = f.text_field :text, class: 'form__box__inputs__text', placeholder: 'type a text'
          = f.label :image, class: 'form__box__inputs__image' do
            = fa_icon 'image'
            = f.file_field :image
        = f.submit 'Send', class: "form__box__send-button"